{% extends 'base.html' %}

{% block title %}Registrar Empresa{%  endblock title %}
{% block page %}
    <div class="row">
        <form method="POST" class="alert alert-danger col-6 mx-auto pt-4">
            <h4 class="text-danger text-center">Registro de Departamentos</h4>
            {% csrf_token %}
            <hr>
            {{ form.as_p }}
            <div class="text-center py-3">
                <button class="btn btn-danger">Guardar</button>
            </div>
        </form>
    </div>
{% endblock page %}