{% extends 'base.html' %}

{% block title %}Registrar Empresa{%  endblock title %}
{% block page %}
    <div class="row">
        <form method="POST" class="alert alert-danger col-6 mx-auto pt-4">
            <h4 class="text-danger text-center">Registro de Empresa</h4>
            {% csrf_token %}
            <hr>
            <div class="form-group mt-4 text-center">
                <label for="exampleInputEmail1"><strong>Nombre de Empresa</strong></label>
                <input type="text" class="form-control" id="id_name" name='name' required>
            </div>
            <div class="text-center">
                <button class="btn btn-danger">Guardar</button>
            </div>
        </form>
    </div>
{% endblock page %}