{% extends 'base.html' %}

{% block title %}Listado de Empresas{%  endblock title %}
{% block page %}
    {% if business|length > 0 %}
        <div class="row card-footer">
            {% for obj in business%}
                <div class="alert alert-primary col-4 mx-auto mb-2">
                    <h6 class="text-primary col">
                        <strong>Nombre de Empresa {{ obj.name }}</strong>
                    </h6>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <section class="m-auto alert alert-danger text-center">
            <h4 class="text-danger py-2">NO HAY EMPRESAS REGISTRADAS</h4>
        </section>
    {% endif %}
{% endblock page %}