{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block page %}
    <main class="row">

        <form class="form-login col-4 text-center" method="POST">
            {%  if form.errors %}
                <div class="col-12">
                    {% for item in form   %}
                        {% for error in item.errors %}
                            {% if error != 'Ya existe un/a Usuario con este/a Correo Electrónico.' %}
                                <div class="alert alert-danger alert-dismissible">
                                    <strong>{{ item.label }}: </strong>{{ error }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="mt-3">
                <h4 class="m-auto py-3"><strong>Inicio de Sesión</strong></h4>
            </div>
            <hr>

            {% csrf_token %}

            <div class="form-group mt-4">
                <label for="exampleInputEmail1"><strong>{{ form.email.label }}</strong></label>
                <input type="email" class="form-control text-center" id="id_email"
                       name='email' required>
            </div>

            <div class="form-group mt-3">
                <label for="exampleInputPassword1"><strong>{{ form.password.label }}</strong></label>
                <input type="password" class="form-control text-center" id="id_password"
                       name='password' required>
            </div>

            <div class="form-group my-3">
                <button type="submit" class="btn btn-login"><strong>Entrar</strong></button>
            </div>

        </form>

    </main>
{% endblock page %}
