{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <title>{% block title %}{% endblock title %}</title>

    <link rel="shortcut icon" href="{% static 'images/buho.jpeg' %}" />
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>

<body>
<div class="wrapper d-flex align-items-stretch ">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>

        <div class="p-4 pt-5">
            <h1><a href="index.html" class="logo">Splash</a></h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle">Empresas</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="{% url 'test:add_business' %}">Registrar Empresa</a>
                        </li>
                        <li>
                            <a href="{% url 'test:list_business' %}">Listar Empresas</a>
                        </li>
                    </ul>
	            </li>
	            <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Departamentos</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="{% url 'test:add_departament' %}">Registrar Departamentos</a>
                        </li>
                        <li>
                            <a href="{% url 'test:list_departament' %}">Listar Departamentos</a>
                        </li>
                    </ul>
	            </li>

	        </ul>

        </div>
    </nav>

        <!-- Page Content  -->
    <main id="content" class="p-4 p-md-5 pt-5">
        {% block page %}{% endblock page %}
    </main>
</div>
</body>

    <script src="{% static 'vendor/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>

</html>