body {
    background: #f8f8f8;
}

.form-login {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    border: solid 1px #2A95F9;
    background: rgba(45, 125, 200, 0.8);
    font-size: 14px;
    color: #ffffff;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    border-radius: 10px;
}

.btn-login {
    border: solid 2px #ffffff;
    background: #2D7DC8;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.btn-login:hover {
    border: solid 2px #ffffff;
    background: #ffffff;
    color: rgba(45, 125, 200, 0.8);;
}


#__react-alert__ div div div {
    width: auto !important;
}