{% extends 'base.html' %}

{% block title %}Empleados{%  endblock title %}
{% block page %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><button class="btn ">Listado de Empresas</button></li>
            <li class="breadcrumb-item" aria-current="page"> <button class="btn">Registrar Empresa </button></li>
        </ol>
    </nav>

{% endblock page %}